.icon-container{
    width: 40px;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url('https://cdn.pixabay.com/photo/2020/11/06/16/38/star-trails-5718301_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}