@import '../src/components/sidebar/sidebar.css';
@import '../src/components/topbar/topbar.css';
@import '../src/components/main/hero/hero.css';
@import '../src/components/main/about/about.css';
@import '../src/components/main/certification/certification.css';
@import '../src/components/main/skills/skills.css';
@import '../src/components/main/projects/projects.css';
@import '../src/components/main/photo wall/photowall.css';
@import '../src/components/main/connect/connect.css';
@import '../src/components/iconbar/iconbar.css';
@import '../src/utils.css';

::-webkit-scrollbar {
  width: 3px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF512F;
}
.App {
  height: 100vh;
  width: 100vw;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  font-family: 'Poppins',sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: px;
  grid-row-gap: px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 7; }
  .div2 { grid-area: 1 / 1 / 13 / 2; }
  .div3 { grid-area: 2 / 2 / 13 / 7; }