@import '../src/components/sidebar/sidebar.css';
@import '../src/components/topbar/topbar.css';
@import '../src/components/main/hero/hero.css';
@import '../src/components/main/about/about.css';
@import '../src/components/main/certification/certification.css';
@import '../src/components/main/skills/skills.css';
@import '../src/components/main/projects/projects.css';
@import '../src/components/main/photo wall/photowall.css';
@import '../src/components/main/connect/connect.css';
@import '../src/components/iconbar/iconbar.css';
@import '../src/utils.css';

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF512F;
}
.App {
  height: 100vh;
  width: 100vw;
}
:root{
  --primary:#3DCFD3;
  --dark:black;
  --dark2:#323333;
  --pure:#FFFFFF;
  --ternary:#898989;
  --light:#F2F2F2;
  --secondary:#606060;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing:antialiased;
  font-family: 'Poppins',sans-serif;
}


.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 7; }
  .div2 { grid-area: 1 / 1 / 13 / 2; }
  .div3 { grid-area: 2 / 2 / 13 / 7; }

  .div3{
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  @media (min-width:1025px) {
    .parent{
      position: relative;
    }
    .div3{
      position: absolute;
    }
  }
  @media (max-width:1025px){
      .parent {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .mob-bar {position: fixed;z-index: 9; grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 1 / 1 / 4 / 13; }
  }