body {
  margin: 0;
  box-sizing: border-box;
}
@media (max-width:1025px){
  .div2{
    display: none;
  }
  .div1{
    display: none;
  }
}
@media (min-width:1025px) {
  .mob-bar{
    display: none;
  }
}
@media (max-width:1025px) {
  .mob-bar{
    transform: translateY(20vh);
    position: fixed;
    opacity: .5;
  }
}